include includes/header.pug
head
  title Your API key
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel="stylesheet" type="text/css" href="/stylesheets/styles.css")
  link(rel="stylesheet" type="text/css" href="/stylesheets/reports.css")
  script( type="text/javascript" src='/scripts/apps.js')
body
    .container
        if data
            .row
            each app, index in data
                .col-sm-6.col-md-4
                    .thumbnail
                        img(src ="data:image/" + app.ImageExtension + ";base64," + app.EncodedImage)
                        .caption
                            h3 #{app.Title}
                            p #{app.Description}
                            p #{app.Id}
                            a.btn.btn-primary(onClick="deleteApp(this);" data-docId=app.docId role='button') Delete
                            a.btn.btn-default(onClick="seeReport(this);" data-appId=app.Id role='button') See Reports