include includes/header.pug
head
  title Reports Overview
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  link(rel="stylesheet" type="text/css" href="/stylesheets/styles.css")
  link(rel="stylesheet" type="text/css" href="/stylesheets/reports.css")
  script( type="text/javascript" src='/scripts/reports.js')

body
  .wrapper
    .container
      if reports
        div.col-xs-2
          input#myInput.form-control(type='text' placeholder='Søg..')
        br
        table.table.table-hover
          thead
            tr
              th Snapshot
              th Title
              th Description
              th Timestamp
              th ErrorCode
              th More info
          tbody#myTable
              each report, index in reports
                tr
                  td 
                    img#lilleBillede(src ="data:image/" + report.ImageExtension + ";base64," + report.EncodedImage)
                  td #{report.Title}
                  td #{report.Description}
                  td(class="dato") #{report.TimeStamp}
                  td #{report.ErrorCode}
                  td #{report.docId}
                  td
                    button(onClick="redirect(this);" data-docId=report.docId) More
      unless reports
        p Ingen Reports Fundet.
        table.table.table-hover
          thead
            tr
              th Billede
              th Titel
              th Beskrivelse
              th Dato
              th Slet/Rediger
          tbody
                tr
                  td
                  td 
                  td 
                  td
                  td    


script.
            $(document).ready(function(){
              $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
              });
            });